.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
}
.logo {
  /* border: 1px solid red; */
  flex: 1;
  display: flex;
  color: #0BCEAF;
  font-size: 18px;
  font-style: normal;
}
.eco__icon{
  color: tomato;
}
.nav__links {
  /* border: 1px solid red; */
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu__icon {
  color: #242424;
  font-size: 2rem !important;
  cursor: pointer;
  box-sizing: content-box;
  padding: 10px;
}
.menu__icon:hover {
  background: #eee;
  border-radius: 50%;
}

.nav__links ul {
  display: flex;
  list-style: none;
}
.nav__links ul li{
  margin: 10px 0;
}
.NavLink{
  border-bottom: 4px solid transparent;
}
.NavLink:hover{
  border-bottom: 4px solid #0BCEAF;
}
.link__active{
  color: #0BCEAF!important;
  border-bottom: 4px solid #0BCEAF;
}

.nav__link a {
  display: inline-block;
  color: #474747;
  padding: 5px 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  /* text-decoration: none; */
}
.nav__link a:hover{
text-decoration: none;
color: #0BCEAF;
}
.sidemenu {
  text-align: center;
}
.sidemenu__wrapper {
  width: 100%;
  height: 100%;
}
.sidemenu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;

  top: 75px;
  right: 0;
  padding: 20px 25vw;
  background: #242424;
  transition: all 0.5s ease-in-out;
}
.sidemenu ul > * {
  padding: 3px 0;
}
.sidemenu ul > *:hover {
  background: #474747;
}
.sidemenu ul li:not(:last-child) {
  margin-bottom: 10px;
}
.sidemenu ul li a {
  color: #fff;
}
ul li a {
  text-decoration: none;
}

.nav__links ul li:not(:first-child) {
  margin-left: 15px;
}

/* .nav__links ul li::after {
  content: "";
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid red;
} */

@media screen and (max-width: 900px) {
  .navbar {
    justify-content: space-between;
  }
  .logo {
    justify-content: flex-start;
  }
  .navbar__wrapper{
        width: 80vw;
    }
}
@media screen and (max-width: 768px){
    .navbar__wrapper{
        width: 90vw;
    }
}
