.navbar {
  display: flex;
  justify-content: space-evenly;
  min-height: 75px;
  align-items: center;
  padding: 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
}
.menu__icon {
  color: #242424;
  font-size: 2rem !important;
  cursor: pointer;
  box-sizing: content-box;
  padding: 10px;
}
.menu__icon:hover {
  background: #eee;
  border-radius: 50%;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__links ul {
  display: flex;
  list-style: none;
}
.sidemenu {
  text-align: center;
}
.sidemenu__wrapper {
  width: 100%;
  height: 100%;
}
.sidemenu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;

  top: 75px;
  right: 0;
  padding: 20px 25vw;
  background: #242424;
  transition: all 0.5s ease-in-out;
}
.sidemenu ul > * {
  padding: 5px 0;
}
.sidemenu ul > *:hover {
  background: #414040;
}
.sidemenu ul li:not(:last-child) {
  margin-bottom: 10px;
}
.sidemenu ul li a {
  color: #fff;
}
ul li a {
  text-decoration: none;
}

.nav__links ul li:not(:first-child) {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
}
